{% extends 'base.html' %}

{% block header %}
    <h3 class="py-3 text-center">{% block title %}Aurox Signals{% endblock %}</h3>
{% endblock %}

{% block content %}
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Signal</th>
                <th scope="col">TimeUnit</th>
                <th scope="col">Pair</th>
                <th scope="col">Time</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>
                    {% if row.signal == "long" %}
                    <div class="dot bg-success" title="long"></div>
                    {% else %}
                    <div class="dot bg-danger" title="short"></div>
                    {% endif %}
                </td>
                <td>{{ row.timeUnit }}</td>
                <td>{{ row.pair }}</td>
                <td>{{ row.timestampIso }}</td>
                <td>
                    {% if row.signal == "long" %}
                        {{ row.askPrice | float }}
                    {% else %}
                        {{ row.bidPrice | float }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table></div>
<div class="row">
    <form action='aurox'><input type='submit' value='Download all' /></form>
</div>
{% endblock %}